<!DOCTYPE html>
<html>
<head>
	<title> Annie Dreyer's Portfolio </title>
	<link rel="stylesheet" type="text/css" href="../css/style2.css">
	<link rel="stylesheet" type="text/css" href="../css/style3.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/app3.js"></script>

</head>
<body>

<header>
		<div>
			<a href="../index.html"> <img class= "logo" src="../media/AnnieDreyer_Logo.png" alt="Annie's Logo" width="108px" height="67px"> </a>
		</div>

		<!-- <nav class="nav">
			<a href="templates/portfolio.html">Portfolio</a> <br>
			<a href="templates/resume.html">Resume</a> <br>
			<a href="templates/about.html">About</a> <br>
			<a href="templates/contact.html">Contact</a> <br>
		</nav> -->

		<nav>
			<a href="../templates/portfolio.html">Portfolio</a> <br>
			<a href="../templates/resume.html">Resume</a> <br>
			<a href="../templates/about.html">About</a> <br> 
			<a href="../templates/contact.html">Contact</a> <br>
		</nav>
</header>

	<a href="mailto:annieedreyer@gmail.com"> <img class="rotate" src="../media/EmailME_IWP.png" width="125px"> </a>

<div class="me">
	<img src="../media/me.jpg" width="350px" alt="Photo of Annie"> 
</div>

<div class="about1"> 
	<h1> Hi, I'm Annie. </h1>
	<h4> I am in my third year at Fordham University, Lincoln Center in New York City. I am currently pursuing a double major in New Media and Digital Design with a concentration in New Media and Commerce and Visual Arts. </h4> 
</div>






</body>
</html>