<!DOCTYPE html>
<html>
<head>
	<title> Annie Dreyer's Portfolio </title>
	<link rel="stylesheet" type="text/css" href="../css/style.css">
	<link rel="stylesheet" type="text/css" href="../css/style2.css">
	<link rel="stylesheet" type="text/css" href="../css/style3.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/app2.js"></script>

	
</head>

<!-- At least 5 html pages!
CSS on all pages
Using JavaScript and Jquery for at least 3 pages
NO COPYING CODE, NO 3rd PARTY PLUGINS. If I find your code online you will fail
Updated style guide
Uploaded to git
Proper folder structure -->

<body>

<header>
		<div>
			<a href="../index.html"> <img class= "logo" src="../media/AnnieDreyer_Logo.png" alt="Annie's Logo" width="108px" height="67px"> </a>
		</div>

		<nav>
			<div class="dropdownHeader">
			<a href="../templates/portfolio.html">Portfolio</a> 
				<div class="dropdown">
					<ul> <a href="#">Café Analog</a> </ul>
					<ul> <a href="../templates/photoproject.html">Photo: in Process</a> </ul>
					<ul> <a href="#">MIKC Explore</a> </ul>
					<ul> <a href="#">The Object Enthusiast</a> </ul>
				</div>
			</div>
			<a href="../templates/resume.html">Resume</a>
			<a href="../templates/contact.html">Contact</a>
		</nav>
</header>

<a href="mailto:annieedreyer@gmail.com"> <img class="rotate" src="../media/EmailME_IWP.png" width="125px"></a>

<div class="background1">
	<img class="me" alt="photo of Annie" src="../media/about_me.jpg" width="300px">
	<div class="aboutCopy">
		<h1> Hi, I'm Annie. </h1>
		<h4> I am in my third year at Fordham University, Lincoln Center in New York City. I am currently pursuing a double major in New Media and Digital Design with a concentration in New Media and Commerce and Visual Arts. </h4>
	</div>
</div>

<div class="background2">
	<div class="contactMe1">
		<h1> Feel free to <br> drop me a line. </h1>
	</div>

	<div class="contactMe2">
		<h5> Email: <a href="mailto:annieedreyer@gmail.com"> annieedreyer@gmail.com </a> </h5>
		<h5> Instagram: <a href="instagram.com/anniedreyer"> @anniedreyer </a> </h5>
		<h5> LinkedIn: <a href="linkedin.com/anniedreyer"> @anniedreyer </a> </h5>
	</div>
</div>






</body>
</html>