<!DOCTYPE html>
<html>
<head>
	<title> Annie Dreyer's Portfolio </title>
	<link rel="stylesheet" type="text/css" href="../css/style2.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/app2.js"></script>

	
</head>

<!-- At least 5 html pages!
CSS on all pages
Using JavaScript and Jquery for at least 3 pages
NO COPYING CODE, NO 3rd PARTY PLUGINS. If I find your code online you will fail
Updated style guide
Uploaded to git
Proper folder structure -->

<body>

<header>
		<div>
			<a href="../index.html"> <img class= "logo" src="../media/AnnieDreyer_Logo.png" alt="Annie's Logo" width="108px" height="67px"> </a>
		</div>


		<nav>
			<div class="dropdownHeader">
			<a href="templates/portfolio.html">Portfolio</a> 
				<div class="dropdown">
					<ul> <a href="#">Café Analog</a> </ul>
					<ul> <a href="../templates/photoproject.html">Photo: in Process</a> </ul>
					<ul> <a href="#">MIKC Explore</a> </ul>
					<ul> <a href="#">The Object Enthusiast</a> </ul>
				</div>
			</div>
			<a href="../templates/resume.html">Resume</a>
			<a href="../templates/contact.html">Contact</a>
		</nav>
</header>

	<div class="row">
 		 <div class="column">
 		 	<figure class="caption">
  			  <img class="project caption" src="../media/CafeAnalog_IWP2.jpg" alt="Logo thumbnail for branding project">
  			  <figcaption class="captiontext"> 
  			  	<h2 class="captionpos"> <h3 class="captionpos2"> Branding Project </h3> <br> <h1 class="captionpos2"> <a href="#"> Café Analog </a> </h1> 
  			  </figcaption>
  			 </figure>
  		</div>

 	 <div class="column">
 	 		<figure class="caption2">
   			 <img class="project" src="../media/project3.jpg" alt="Photo of some chairs">
   			 <figcaption class="captiontext2"> 
   			 	<h2 class="captionpos"> <h3 class="captionpos2"> Photo Project </h3> <br> <h1 class="captionpos2"> <a href="../templates/photoproject.html"> In Process </a> </h1> </figcaption>
   			</figure>
  		</div>
  	</div>
  	
  	<div class="row">
 		<div class="column">
 			<figure class="caption3">
  			<img class="project" src="../media/MIKCExplore_IWP.jpg" alt="Mockup of iPhone with Instagram account">
  			<figcaption class="captiontext3"> 
  				<h2 class="captionpos"> <h3 class="captionpos2"> Social Media </h3> <br> <h1 class="captionpos2"> <a href="#"> MIKCExplore </a> </h1> </figcaption>
  			</figure>
  		</div>

 		<div class="column">
 			<figure class="caption4">
  		 	<img class="project" src="../media/project4.jpg" alt="Photo of pottery on shelves for Object Enthusiast">
  		 	<figcaption class="captiontext4"> <h2 class="captionpos"> <h3 class="captionpos2"> Marketing </h3> <br> <h1 class="captionpos2"> <a href="#"> The Object Enthusiast </a> </h1>  </figcaption>
  			</figure>
  		</div>
  	</div>
  
	






</body>
</html>
