<!DOCTYPE html>
<html>
<head>
	<title> Annie Dreyer's Portfolio </title>
	<link rel="stylesheet" type="text/css" href="../css/style2.css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:300,300i,400,500,600,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script type="text/javascript" src="../scripts/app2.js"></script>

	
</head>

<!-- At least 5 html pages!
CSS on all pages
Using JavaScript and Jquery for at least 3 pages
NO COPYING CODE, NO 3rd PARTY PLUGINS. If I find your code online you will fail
Updated style guide
Uploaded to git
Proper folder structure -->

<body>

<header>
		<div>
			<a href="../index.html"> <img class= "logo" src="../media/AnnieDreyer_Logo.png" alt="Annie's Logo" width="108px" height="67px"> </a>
		</div>

		<nav>
			<div class="dropdownHeader">
			<a href="templates/portfolio.html">Portfolio</a> 
				<div class="dropdown">
					<ul> <a href="#">Café Analog</a> </ul>
					<ul> <a href="../templates/photoproject.html">Photo: in Process</a> </ul>
					<ul> <a href="#">MIKC Explore</a> </ul>
					<ul> <a href="#">The Object Enthusiast</a> </ul>
				</div>
			</div>
			<a href="../templates/resume.html">Resume</a>
			<a href="../templates/contact.html">Contact</a>
		</nav>
</header>

<a href="mailto:annieedreyer@gmail.com"> <img class="rotate" src="../media/EmailME_IWP.png" width="125px"></a>


<div class="workExperience"> 

<div class="workExperienceCopy">
	<div>
		<h1> Work Experience </h1> <br> 
	</div>

	<div> 
		<h4> Marketing Intern </h4>
		<h5> Daily Harvest, Fall 2018 </h5>
		<p> Log daily social media and press coverage, research and pitch potential brand influencers. Draft briefings for potential PR coverage and social media endeavors. Perform hands-on tasks such as delivering company product to editors. </p>
	</div>

	<div> 
		<h4> Digital Media Manager </h4>
		<h5> Made in Kansas City, Spring 2017 — Current </h5>
		<p> Lead creative development for immersive experience concept Wonder Wonder. Design and develop Wonder Wonder floor and design plans, website, and customer overall experience. Continue business development for Made in KC and subsidiary projects, including redesigning plan, managing, and content creation for MIKCExplore social media, developing floorplans for future retail locations, further developing company websites, launching company Google Ads campaign, engaging and communicating with potential influencers. </p>
	</div>

	<div>
		<h4> Social Media Manager and Content Creator </h4>
		<h5> Rumba Accessories, Fall 2016 — Spring 2017 </h5>
		<p> Photograph and edit accessory content for Instagram as well as curate additional content for daily Instagram posts. Schedule and post daily Instagram content. Increase follower count and engagement. </p>
	</div>

</div>

</div>

<div class="resumeSchoolSkills">

<div class="resumeSchoolCopy">
	<div> 
		<h1> Education </h1> <br> 
		<h4> Fordham University </h4>
		<h5> New Media Digital Design and Visual Arts <br> Class of 2020 </h5> <br> 
	</div>

	<div>
		<h1> Skills </h1> <br> 
		<h5> Adobe Illustrator <br> Adobe Indesign <br> Adobe Lightroom <br> Adobe Photoshop <br> Google Analytics <br> DSLR and Film Photography </h5> 
	</div>
</div>
</div>






</body>


</html>







